<%= simple_form_for(@product) do |f| %>
	<div class="field">
		<%= f.input :name, label: 'Name' %>
	</div>
	<div class="field">
		<%= f.input :description, label: 'Description' %>
	</div>
	
	<div class="field">
		<%= f.input :files, as: :file, input_html: { :multiple => true } %>
	</div>
	
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
